[submodule "pack/packages/start/Apprentice"]
	path = pack/packages/start/Apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule "pack/packages/start/vim-tags"]
	path = pack/packages/opt/vim-tags
	url = https://github.com/szw/vim-tags.git
[submodule "pack/packages/start/gruvbox"]
	path = pack/packages/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/packages/start/markdown-preview.vim"]
	path = pack/packages/start/markdown-preview.vim
	url = https://github.com/iamcco/markdown-preview.vim.git
[submodule "pack/packages/start/vim-table-mode"]
	path = pack/packages/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "pack/packages/start/ale"]
	path = pack/packages/opt/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/packages/start/lightline.vim"]
	path = pack/packages/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/packages/start/vim-highlightedyank"]
	path = pack/packages/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule "pack/packages/start/vim-orgmode"]
	path = pack/packages/opt/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "pack/packages/start/vim-speeddating"]
	path = pack/packages/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "pack/packages/start/undotree"]
	path = pack/packages/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/packages/opt/YouCompleteMe"]
	path = pack/packages/opt/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
